<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'posts:home_page' %}">SimpleBlog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% with request.resolver_match as match %}
                    <li class="nav-item {% if match.url_name == 'home_page'%}active{% endif %}">
                        <a class="nav-link" href="{% url 'posts:home_page' %}">Home</a>
                    </li>
                    {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" target="_" href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                {% endwith %}
            </ul>
        </div>
    </div>
</nav>
