{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">
                <!-- Title -->
                <h1 class="mt-4">{{ post.title }}</h1>
                <hr>

                <!-- Date/Time -->
                <p>Posted on {{ post.timestamp.date }}</p>
                <hr>

                <!-- Preview Image NOTE: If statement is for test purposes -->
                {% if post.thumbnail %}
                    <img class="img-fluid" src="{{ post.thumbnail.url }}">
                {% endif %}
                <hr>

                <!-- Post Content -->
                {{ post.content|safe }}
                <hr>

                {# Comments Form #}
                {% if user.is_authenticated %}
                    <div class="card my-4">
                        <h5 class="card-header">Leave a Comment:</h5>
                        <div class="card-body">
                            <form method="POST" action=".">
                                {% csrf_token %}
                                <div class="form-group">
                                    <textarea class="form-control" rows="3" name="content"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                {% endif %}

                <!-- Comment with its replies -->
                {% for comment in post.comment_set.all %}
                    {# Comment #}
                    <div class="media mb-4">
                        {# Profile picture #}
                        {% if comment.commenter.author.profile_pic %}
                            <img class="d-flex mr-3 rounded-circle" src="{{ comment.commenter.author.profile_pic.url }}" style="width:50px;">
                        {% else %}
                            <img class="d-flex mr-3 rounded-circle" src="{% static 'img/default.jpg' %}" style="width:50px;">
                        {% endif %}
                        <div class="media-body">
                            {# Name #}
                            <h5 class="mt-0">{{ comment.commenter.username }}</h5>
                            {# Content #}
                            {{ comment.content }}

                            {% for replay in comment.replay_set.all %}
                            {# Comment replies #}
                            <div class="media mt-4">
                                {# Profile picture #}
                                <img class="d-flex mr-3 rounded-circle" src="{{ replay.commenter.author.profile_pic.url }}" style="width:50px;">
                                <div class="media-body">
                                    {# Name #}
                                    <h5 class="mt-0">{{ replay.commenter.username }}</h5>
                                    {# Content #}
                                    {{ replay.content }}
                                </div>
                            </div> {# Comment replies #}
                            {% endfor %}
                        </div>
                    </div> {# Parent comment #}
                {% endfor %}
            </div>
            {% include "includes/side-widgets.html" with categories=categories %}
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock content %}
